@import "variables";
@import "animations";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.polka-dot {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  background-color: var(--polkaColor);

  position: absolute;
  top: var(--coordY);
  left: var(--coordX);
  transform: translate(-50%, -50%);
}

.theme-backdrop {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  > .theme-switcher {
    position: absolute;
    width: 200px;
    height: 70px;
    top: 10px;
    background-color: dimgray;
  }
}

.trivia-card {
  background: #ffffff40;
  box-shadow: 0 8px 32px 0 #20202050;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid #ffffff40;

  height: 800px;
  min-width: 600px;
  max-width: 90vw;

  padding: 10px;
  box-sizing: border-box;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  fill: white;
  flex: 1;
  max-height: 100px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 3px #00000040;
  font-size: 1.2em;
  margin: 5px;
  padding: 0;
  transition: 0.2s;
  transform: scale(0.99);
  font-weight: 700;

  &:hover {
    transform: scale(1);
  }

  &:active {
    transform: scale(0.98);
  }

  &.primary {
    background: linear-gradient(0deg, #593acb 50%, #6195bc 100%);
    background-size: 200% 200%;

    &.green {
      background: linear-gradient(0deg, #3acb91 50%, #69bc61 100%);
    }

    &.red {
      background: linear-gradient(0deg, #cb633a 50%, #bc9e61 100%);
    }

    &:hover {
      background-position: 0 30%;
    }
  }

  &:disabled {
    transform: scale(0.9);

    &.right-answer {
      background: linear-gradient(90deg, #23bf61 0%, #94b785 10%, #94b785 90%, #23bf61 100%);
      font-size: 1.1em;
    }

    &.wrong-answer {
      background: linear-gradient(90deg, #b84d1c 0%, #c89797 10%, #c89797 90%, #b84d1c 100%);
      font-size: 0.9em;
    }
  }
}

svg {
  width: 1.2em;
  height: 1.2em;
  margin: 0 10px;
}

.styled-div {
  background-color: $lighter-color;
  font-size: 1.2em;
  border-radius: 10px;
  margin-bottom: 5px;
}

.loading-circle {
  border: 8px solid transparent;
  border-top-color: rgba(31, 31, 31, 0.67);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: loading-spin 2s infinite linear;
}

.flex-1 {
  flex: 1;
  padding: 0 10px;
}

.flex-2 {
  flex: 2;
  padding: 0 10px;
}

.flex-3 {
  flex: 3;
  padding: 0 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  position: relative;
  color: black;
  fill: black;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;

  > .progress-display {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    background: linear-gradient(0deg, #593acb 50%, #6195bc 100%);
    height: 100%;
    width: 100%;
    clip-path: polygon(0% 0%, var(--percent) 0%, var(--percent) 100%, 0% 100%);
    color: white;
    fill: white;
  }
}

.bold-text {
  font-weight: 700;
}

.badge-container {
  float: right;
  width: 0;
  height: 0;

  > svg {
    transform: translateX(-200%);
  }
}

.result-item {
  font-size: 0.9em;
  margin: 1px 0;
  border-radius: 10px;
  color: black;
  background-color: $lighter-color;

  &.correct-answer {
    background-color: rgba(103, 255, 27, 0.31);
  }

}
