body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.question-card {
  height: 450px;
  background-color: #6badbe;
  color: white;
  box-shadow: 0 3.5px 0 -1px #00000030;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-title {
  width: fit-content;
  min-width: 600px;
  flex: 2;
}

.question-answers {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.question-answer {
  width: 100%;

  &.right-answer {
    background-color: #30f030a0;
  }

  &.wrong-answer {
    background-color: #f03030a0;
  }
}

.question-nav {
  flex: 1;
  display: flex;

  > * {
    margin: 5px 10px 5px 0;
    flex: 1;

    &:last-child {
      margin-right: 0;
    }
  }
}

.question-card {
  .styled-div {
    background-color: #ffffff50;
    font-size: 1.2em;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  flex: 1;
  border-radius: 10px;
  background-color: #ffffff50;
  box-shadow: 0 5px 0 -1px #00000030;
  font-size: 1em;
  margin: 5px 0;
  transition: 0.2s;

  &:hover {
    background-color: #ffffff70;
    box-shadow: 0 3px 0 -1px #00000030;
    transform: translateY(2px);
  }

  &:active {
    box-shadow: 0 0 0 -1px #00000030;
    transform: translateY(5px);
  }

  &:disabled {
    background-color: #aaa;
    color: #888;
    box-shadow: 0 0 0 0 #000000;
    transform: translateY(5px);
  }
}
