@import "animations";

.timer-bomb {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;

  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(-50px, -50px);

  background-image:
          linear-gradient(var(--angle1), var(--color1) 50%, transparent 50%),
          linear-gradient(var(--angle2), var(--color2) 50%, transparent 50%),
          linear-gradient(0, white 0%, white 100%);

  > .timer-bkg {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: #403e3ec0;

    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      height: 1em;
      transform: translateY(-25%);
    }
  }
}
